body {
  background: hsla(248, 32%, 27%, 1);
  letter-spacing: 0.2em;
  font-size: 1em;
  color: #FFF;
}

.card {
  border: none;
}
.container {
  max-width: 480px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
